<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!-- Booking.com_Suite -->
<suite name="Booking.com_Suite">
	<!-- Perform_Reservation_Tests -->
	<test name="Perform_Reservation_Tests">
		<parameter name="browser" value="chrome" />
		<parameter name="path_to_driver" value="booking-tests/src/test/resources/chromedriver"/>
		<parameter name="navigateTo_url" value="https://www.booking.com"/>
        <parameter name="search_cityName" value="Los Angeles"/>
        <parameter name="room_count" value="1"/>
		<classes>
			<class name="ReserveBookingTest" />
		</classes>
	</test>
</suite> 
